## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saskylakh,RU,71.92,114.08,55.47,52,100,4.16,overcast clouds
1,1,Castro,BR,-24.79,-50.01,61.23,81,0,4.36,clear sky
2,2,Gizo,SB,-8.10,156.84,83.70,77,20,9.91,few clouds
3,3,Busselton,AU,-33.65,115.33,39.00,98,91,7.70,overcast clouds
4,4,Hithadhoo,MV,-0.60,73.08,82.76,72,84,9.42,heavy intensity rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Enter the minimum temperature: "))
max_temp = float(input("Enter the maximum temperature: "))

Enter the minimum temperature: 75
Enter the maximum temperature: 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Gizo,SB,-8.10,156.84,83.70,77,20,9.91,few clouds
4,4,Hithadhoo,MV,-0.60,73.08,82.76,72,84,9.42,heavy intensity rain
5,5,Matara,LK,5.95,80.54,78.31,85,91,10.54,overcast clouds
7,7,Atuona,PF,-9.80,-139.03,79.20,78,15,19.73,few clouds
12,12,Faanui,PF,-16.48,-151.75,77.90,77,46,23.91,scattered clouds
19,19,Vaini,TO,-21.20,-175.20,80.60,74,20,10.29,few clouds
27,27,Bethel,US,41.37,-73.41,75.99,94,61,5.73,broken clouds
28,28,Itarema,BR,-2.92,-39.92,78.73,72,8,19.15,clear sky
45,45,Praia,CV,14.92,-23.51,78.80,94,20,2.24,few clouds
49,49,Kavaratti,IN,10.57,72.64,81.64,78,99,14.34,moderate rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                224
City                   224
Country                224
Lat                    224
Lng                    224
Max Temp               224
Humidity               224
Cloudiness             224
Wind Speed             224
Current Description    224
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Gizo,SB,83.70,few clouds,-8.10,156.84,
4,Hithadhoo,MV,82.76,heavy intensity rain,-0.60,73.08,
5,Matara,LK,78.31,overcast clouds,5.95,80.54,
7,Atuona,PF,79.20,few clouds,-9.80,-139.03,
12,Faanui,PF,77.90,scattered clouds,-16.48,-151.75,
19,Vaini,TO,80.60,few clouds,-21.20,-175.20,
27,Bethel,US,75.99,broken clouds,41.37,-73.41,
28,Itarema,BR,78.73,clear sky,-2.92,-39.92,
45,Praia,CV,78.80,few clouds,14.92,-23.51,
49,Kavaratti,IN,81.64,moderate rain,10.57,72.64,
52,Marsh Harbour,BS,84.25,very heavy rain,26.54,-77.06,
58,Monrovia,LR,76.12,light rain,6.30,-10.80,
60,Avarua,CK,78.80,few clouds,-21.21,-159.78,
62,Turayf,SA,80.60,clear sky,31.67,38.66,
68,Alice Springs,AU,75.00,clear sky,-23.70,133.88,
71,Garowe,SO,77.47,broken clouds,8.41,48.48,
81,Palmer,US,77.00,broken clouds,42.16,-72.33,
84,Georgetown,MY,78.80,few clouds,5.41,100.34,
88,Cururupu,BR,76.53,clear sky,-1.83,-44.87,
89,Sabang,ID,83.03,broken clouds,5.89,95.32,

In [24]:
# # 6a. Set parameters to search for hotels with 5000 meters.
# params = {"radius": 5000,
#    "type": "lodging",
#    "key": g_key
# }

# # 6b. Iterate through the hotel DataFrame.
# for index, row in hotel_df.iterrows():
#     # 6c. Get latitude and longitude from DataFrame
#     lat = row["Lat"]
#     lng = row["Lng"]
#        # Add the latitude and longitude to location key for the params dictionary.
#     params["location"] = f"{lat},{lng}"
#     # 6d. Set up the base URL for the Google Directions API to get JSON data.
#     base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#     # 6e. Make request and retrieve the JSON data from the search.
#     hotels = requests.get(base_url, params=params).json()
#     # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
#     try:
#            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
#     except (IndexError):
#            print("Hotel not found... skipping.")

In [26]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
720,Mitsamiouli,KM,75.29,clear sky,-11.38,43.28,Foyer ADM

In [23]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)  
print(hotel_df)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
print(hotel_df)

            City Country  Max Temp Current Description    Lat    Lng  \
720  Mitsamiouli      KM     75.29           clear sky -11.38  43.28

    Hotel Name
720  Foyer ADM
            City Country  Max Temp Current Description    Lat    Lng  \
720  Mitsamiouli      KM     75.29           clear sky -11.38  43.28

    Hotel Name
720  Foyer ADM

In [70]:
# 8a. Create the output File (CSV)
output_data_file = "Weather_Database/Vacation_Search.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure